.lessons__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 0fr);
  grid-column-gap: 86px;
  grid-row-gap: 28px;
}
.lesson__item_title {
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  border-bottom: 2px solid gray;
  padding-bottom: 8px;

}
.item__list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}
.lesson__item{
  background-color: gainsboro;
  padding: 15px 30px;
  border-radius: 2%;

}
.list__item{
  color: #000000;
  font-family: 'Lora', serif;
  font-weight: 400;
  font-size: 22px;
}
.list__item:not(:last-child){
  margin-bottom: 5px;
}

@media(max-width: 1013px){
  .lessons__content {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width: 710px) {
  .lesson__item{
    margin: 0px 10px 0px 10px;
  }
}
@media(max-width: 655px){
  .lessons__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .lesson__item{
    min-width: 70%;
  }
}
@media(max-width: 456px){
  .lessons__content {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}